{
  "presets":
  ["@babel/preset-env"],
  "plugins": [
    ["inline-json-import", {}],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
